# IDE
.vscode
.idea

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
# dotenv environment variables file
.env
.env.development
.env.production

# Node
node_modules/
package.lock
config.yml

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# MaxOSX
*.DS_Store
